/*********************************************************** source code copy right by satish nakinaboina ************************************************************/
 *{
     margin: 0px;
     padding: 0px;
}
 body{
     background: #f2f2f2;
     font-family: 'Roboto Condensed', sans-serif;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}
p {
    margin: 0 0 10px;
	line-height: 1.4;
}
 .main_content {
     width: 80%;
     margin: 0px auto;
}
 .main_section {
     width: 100%;
     display: flex;
     background: #fff;
     padding: 20px;
}
 .left_section {
     width: 75%;
     padding-right: 20px;
}
 .right_section{
     width: 35%;
     display: block;
}
 .valgn{
     vertical-align:baseline;
     width:30px;
}
 .right_section img {
     width: 100%;
     margin-bottom: 2em;
}
 .header {
     width: 100%;
     display: block;
     background: #000;
     margin-bottom: 10px;
     color: #fff;
     position:relative;
}
 .header::before{
     position: absolute;
     z-index: 0;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     content: "";
     background: rgba(255,255,255,0.9);
}
 .header .content h3{
     text-align: left;
     font-size: 50px;
     margin: 0px;
     padding-bottom: 10px;
     text-transform: uppercase;
}
 .header .hbotom span.icon{
     display: block;
     padding-bottom: 10px;
}
 .initial-head span{
     color:#f7686a;
     font-weight: 600;
}
 .header p{
     font-weight: 700;
     font-size: 21px;
}
 .arimg{
     width:20px;
     height:20px;
}
 .facircle{
     font-size:24px;
     color:#FFA500;
}
 .wrapvalign{
     width:38px;
     height:auto;
     vertical-align: baseline;
}
 .lsection {
     display: flex;
     width: 100%;
     background: #fff;
     padding: 10px;
     box-shadow: 0px 0px 4px #e1e1e1;
}
 .lsecesion1 {
     width: 50%;
     display: block;
     padding-right: 4px;
}
 .lsecesion2 {
     width: 50%;
     display: block;
}
 .thumbimage {
     width: 100%;
}
 .thumbimage img {
     width: 100%;
}
 .content h3{
     font-weight: 900;
     font-size: 23px;
}
 .mainheading h3 {
     font-size: 39px;
     padding: 0px 10px 0px 0px;
     color: #000;
     margin-top: 4px;
}
 .content span.icon {
     margin-right: 10px;
     color: #ff0018;
     font-size:24px;
     margin: 0px;
}
 .top-content{
     padding: 10px 10px 0px 10px;
}
 .f22{
     font-size: 18px;
}
 .f22 span{
     color:#478deb;
     font-weight:600;
     text-transform:uppercase;
}
 .decor-content{
     color:#e2e2e2;
     margin-top:20px 
}
 .fhead{
     font-size: 19px;
     font-weight: 800;
     color: #787878;
     margin: 0px 0px 10px 0px;
}
 .titleimg{
     vertical-align: baseline;
     width: 25px;
     padding: 0px;
     margin: 0px;
}
 .subdecor{
     color:#ff0018;
     font-weight:bold;
}
 .hrline {
     width: 100%;
     height: 1px;
     display: flow-root;
     background: #e5e5e5;
     margin-top: 5px;
}
 .fa-comment-alt {
     transform: scaleX(-1);
}
 i.far {
     font-size: 16px;
}
 .pt10{
     padding:0px 2px 0px 0px;
}
 .pl10{
     padding: 0px 5px 0px 4px;
     vertical-align: baseline;
}
 .initial-head p {
     min-height: 192px;
     font-size: 18px;
}
 .sthumb {
     width: 100%;
     display: flex;
     margin-top: 8px;
}
 .thumbleft {
     width: 60%;
     display: block;
}
 .thumbright {
     width: 40%;
     display: block;
}
 .mainthumb {
     width: 100%;
     display: block;
     min-height: 108.5px;
}
 @media only screen and (max-width: 767px) {
     ._content p {
         min-height: initial;
         font-size: 18px;
    }
     .left_section {
         width: 100%;
         padding-right: 0px;
    }
     .main_content {
         width: 100%;
         margin: 0px auto;
    }
	.initial-head p {
		min-height: 105px;
	}
	.pl10 {
		padding: 0px 5px 0px 0px;
		vertical-align: baseline;
	}
     .right_section{
         width: 100%;
    }
     .lsection {
         display: flex;
         width: 95%;
         flex-direction: column;
    }
     .main_section{
         flex-direction: column;
		 padding: 0px;
    }
     .lsecesion1{
         width: 100%;
    }
     .lsecesion2{
         width: 100%;
    }
     .sthumb{
         flex-direction: column-reverse;
    }
     .thumbleft{
         width: 100%;
    }
     .thumbright{
         width: 100%;
    }
}
/* iPads (landscape) ----------- */
 @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    /* Styles */
     .main_content {
         width: 100%;
    }
}
/* iPads (portrait) ----------- */
 @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    /* Styles */
     .main_content {
         width: 100%;
    }
     .left_section {
         width: 100%;
         padding: 0px;
    }
     .right_section {
         display: none;
    }
}
